<!DOCTYPE html>
<html>
  <head>
  </head>
  
  <body>

    <form method="post" action="/display_puppy">
      <p>Name:<input type="text" name="name"></p>
      <button type="submit" value="submit">Submit</button>
    </form>
    
  </body>
</html>