<!DOCTYPE html>
<html>
  <head>
  </head>
  
  <body>

    <form method="post" action="/">
      <p>Click Here To List A Puppy</p>
      <textarea name="user_text"></textarea>
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>
    
  </body>
</html>